<a href="https://colab.research.google.com/github/ChojnackiKRZ/machine_learning_kurs/blob/main/supervised/01_basics/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.0.2'

In [ ]:
import pandas_datareader.data as web
def fetch_financial_data(company='AMZN'):
    
    """
    This function fetches stock market quotations.
    """
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open    High     Low   Close    Volume
Date
2022-07-12  112.16  113.14  108.34  109.22  53942650
2022-07-11  114.08  114.30  110.87  111.75  53540019
2022-07-08  114.60  116.58  113.69  115.54  45719694
2022-07-07  113.85  116.99  113.49  116.33  57872323
2022-07-06  113.21  115.48  112.01  114.33  66958884

In [ ]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-07-12 to 2022-07-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [ ]:
df

              Open    High     Low   Close    Volume
Date
2022-07-12  112.16  113.14  108.34  109.22  53942650
2022-07-11  114.08  114.30  110.87  111.75  53540019
2022-07-08  114.60  116.58  113.69  115.54  45719694
2022-07-07  113.85  116.99  113.49  116.33  57872323
2022-07-06  113.21  115.48  112.01  114.33  66958884

GENEROWANIE NOWYCH ZMIENNYCH

In [ ]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year

In [ ]:
df

              Open    High     Low   Close    Volume  day  month  year
Date
2022-07-12  112.16  113.14  108.34  109.22  53942650   12      7  2022
2022-07-11  114.08  114.30  110.87  111.75  53540019   11      7  2022
2022-07-08  114.60  116.58  113.69  115.54  45719694    8      7  2022
2022-07-07  113.85  116.99  113.49  116.33  57872323    7      7  2022
2022-07-06  113.21  115.48  112.01  114.33  66958884    6      7  2022

Dyskretyzacja zmiennej ciągłej

In [ ]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})

In [ ]:
'''
Ilosc klas wyliczamy pierwiatkujac liczebnosc proby
Dlugosc klas wyliczamy dzielac rozstep przez ilosc klas
'''
ilosc_klas = int (round (len(df)**(1/2), 0))
rozstep = max(df['height']) - min(df['height'])
dlugosc_klas = rozstep/ilosc_klas
df['height_cat'] = pd.cut(x=df.height, bins=3)

In [ ]:
binnedPopulation = pd.cut(df['height'], ilosc_klas)
tabela_czestosci = binnedPopulation.value_counts()

In [ ]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [ ]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [ ]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

Ekstrakcja cech

In [2]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [6]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [8]:
df['PL_FLAG'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_FLAG
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [9]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [14]:
new = df['website'].str.split('.', expand = True)
df['portal'] = new[0]
df['extension'] = new[1]